[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
tqdm = "*"
torch = "*"
tensorboard = "*"
ple = {git = "https://github.com/ntasfi/PyGame-Learning-Environment.git", ref = "master"}
pygame = "*"

[dev-packages]
# Utilizing this section to use the form of PLE which has full support for Flappybird.
# Must use the make command to download this folder. See the README.md.
ple = {path = "./PyGame-Learning-Environment/PyGame-Learning-Environment-master", editable = true}

[requires]
python_version = "3.11"
