[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
torch = "*"
tensorboard = "*"
ple = {git = "https://github.com/ntasfi/PyGame-Learning-Environment.git", ref = "master"}
pygame = "*"

[dev-packages]

[requires]
python_version = "3.11"
