[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
tqdm = "*"
torch = "*"
tensorboard = "*"
ple = {git = "https://github.com/ntasfi/PyGame-Learning-Environment.git", ref = "master"}
pygame = "*"

[dev-packages]
# We're utilizing this section to use the form of PLE which has full support of Flappybird
ple = {path = "./PyGame-Learning-Environment/PyGame-Learning-Environment-master", editable = true}

[requires]
python_version = "3.11"